:root {
    /*  MERCURY COLORS */
    font-family: "Roboto Condensed";
    --edtp-color-brand-grey-default: #303030;
    --edtp-color-white: #ffffff;
    --edtp-color-brand-grey-light-25: #FAFAFA;
    --edtp-color-brand-grey-light-50: #F7F7F7;
    --edtp-color-brand-grey-light-75: #F1F1F1;
    --edtp-color-brand-grey-light-300: #BFBFBF;
    --edtp-color-brand-grey-light-500: #737373;

    --edtp-color-brand-cyan-default-rgb: 17, 177, 195;
    --edtp-color-brand-cyan-default: rgb(17, 177, 195);

    /*  THEME */
    --edtp-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.25);
    --edtp-border-radius-lg: 0.5rem;
    --edtp-border-radius-default: 0.25rem;
    --edtp-font-size-base: 1rem;
    --edtp-font-size-sm: 0.875rem;
    --edtp-font-size-xs: 0.75rem;
    --edtp-icon-button-size: 32px;
    --edtp-duration-calendars-gap: 1rem;
    --edtp-transition: all cubic-bezier(0.4, 0, 0.2, 1) 150ms;

    --edtp-container-color: var(--edtp-color-brand-grey-default);
    --edtp-container-background-color: var(--edtp-color-white);

    --edtp-header-text-color: var(--edtp-color-brand-grey-default);
    --edtp-header-chevron-color: var(--edtp-color-brand-grey-default);
    --edtp-header-chevron-background-color: transparent;
    --edtp-header-chevron-hover-color: var(--edtp-color-brand-grey-default);
    --edtp-header-chevron-hover-background-color: var(--edtp-color-brand-grey-light-50);
    --edtp-header-week-color: var(--edtp-color-brand-grey-light-500);

    --edtp-day-size: 42px;
    --edtp-day-color: var(--edtp-color-brand-grey-default);
    --edtp-day-background-color: transparent;
    --edtp-day-hover-color: var(--edtp-color-brand-cyan-default);
    --edtp-day-hover-background-color: rgba(var(--edtp-color-brand-cyan-default-rgb), 0.20);
    --edtp-day-between-color: var(--edtp-color-brand-grey-default);
    --edtp-day-between-background-color: rgba(var(--edtp-color-brand-cyan-default-rgb), 0.10);
    --edtp-day-disabled-color: var(--edtp-color-brand-grey-light-300);
    --edtp-day-disabled-background-color: transparent;
    --edtp-day-picked-color: var(--edtp-color-white);
    --edtp-day-picked-background-color: var(--edtp-color-brand-cyan-default);
    --edtp-day-today-color: var(--edtp-color-brand-cyan-default);
    --edtp-day-today-background-color: var(--edtp-color-brand-grey-light-50);

    --edtp-footer-border-width: 0px;
    --edtp-footer-border-color: transparent;
    --edtp-footer-color: var(--edtp-color-brand-grey-light-500);
    --edtp-footer-background-color: var(--edtp-color-brand-grey-light-50);
    --edtp-footer-empty-color: var(--edtp-color-brand-grey-light-300);
    --edtp-footer-font-weight: bold;

    --edtp-footer-toggle-button-color: var(--edtp-color-brand-cyan-default);
    --edtp-footer-toggle-button-background-color: var(--edtp-color-brand-grey-light-75);
    --edtp-footer-toggle-button-hover-color: var(--edtp-color-brand-cyan-default);
    --edtp-footer-toggle-button-hover-background-color: var(--edtp-color-white);

    --edtp-footer-select-color: var(--edtp-color-brand-grey-default);
    --edtp-footer-select-background-color: var(--edtp-color-white);
    --edtp-footer-select-border-color: var(--edtp-color-brand-grey-light-75);
}