.page {
    width: 100vw;
    height:100vh; 
    padding: 3rem;
    position: relative;
}

.content {
}

.title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__dialog {
    width: 400px;
    height: auto;
    max-height: 300px;
    background-color: white;
    overflow: auto;
    border-radius: 5px;
}

.modal__dialog__content {
    padding: 3rem;
}

.modal__dialog__content__loremipsum {
    margin-top: 3rem;
    color: grey;
}

.modal__dialog__content__loremipsum > div {
    margin-bottom: 1rem;
}

#my-button {
    margin-right: 1rem;
}
